button{
  border: none;
  outline: none;
  background: none;
}

textarea{
  resize: vertical;
}

.clearfix{
  clear: both;
}

.text-center{
  text-align: center;
}

.chosen-button{
  color: #fff;
  background-color: #333;
}

.form-control{
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.profile-container .form-group{
  margin-bottom: 30px;
}

.profile-container .profile{
  padding: 20px 0;
}

.profile-container label, .profile-container span{
  color: #ccc;
  font-weight: normal;
  font-size: 0.9em;
}

.profile-container .profile input,
.profile-container .profile textarea,
.profile-container .profile select{
  padding-left: 0;
}

.profile-container .control-container{
  text-align: center;
  margin: 25px 0;
}

.profile-container .control-container button{
  margin: 0 5px;
  padding: 15px;
}

.profile-container .control-container button span{
  color: #000;
  font-size: 1em;
}

.profile-container .control-container button:hover{
  border: 1px solid #ccc;
  border-radius: 3px;
}

.profile-container table th{
  font-weight: normal;
}

.profile-container table tbody tr td{
  padding: 15px 8px;
}

.profile-container .sub-profile-container .delete-child{
  font-size: 0.8em;
}

.profile-container .main-profile-container .profile .form-group p{
  padding-top: 10px;
}

.table-responsive{
  border: none;
}
