h1, h2, h3, h4, h5, h6{
  font-family: "Comic Sans MS", sans-serif;
  color: #697A10;
}

button{
  border: none;
  outline: none;
  background: none;
}

button:focus, button:hover{
  background: none;
}

textarea{
  resize: vertical;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

a{
  color: #697A10;
}

label{
  color: #697A10;
  font-weight: normal;
  font-size: 0.9em;
}

header > .navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #C2DB99;
  border-color: #C2DB99;
  border-radius: 0;
  top: 0;
}

header > .navbar a{
  color: #fff;
  font-family: "Comic Sans MS", sans-serif;
  display: inline-block;
}

header > .navbar .brand{
  float: left;
  height: 50px;
}

header > .navbar .brand img{
  height: 40px;
  margin-top: -20px;
}

header > .navbar .brand a{
  font-size: 20px;
  margin-top: 15px;
}

header .navbar-default .navbar-nav>li>a{
  color: #fff;
}

header > .navbar .dropdown-menu{
  background-color: #C2DB99;
}

header > .navbar .dropdown-menu a{
  display: block;
  padding: 4px 15px;
}

header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: transparent;
}

header .navbar-default .navbar-toggle{
  border-color: transparent;
}

header .navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}

footer{
  clear: both;
  background-color: #C2DB99;
}

.content-page{
  margin-top: 100px;
  margin-bottom: 30px;
  overflow: auto;
}

.full-width{
  width: 100%;
}

.clearfix{
  clear: both;
}

.chosen-button{
  color: #fff;
  background-color: #697A10;
  border-color: #697A10;
}

.border-no-background-button{
  border: 1px solid #697A10;
  color: #697A10;
}

.border-wrapper{
  border: 1px solid #697A10;
  border-radius: 4px;
  padding: 10px;
}

.top-style-border-wrapper{
  border: 1px solid #697A10;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.message{
  font-size: 0.85em;
  margin-top: 20px;
  padding-left: 5px;
  font-style: italic;
  display: none;
}

.outlines .index{
  color: #697A10;
  padding-right: 10px;
}

.small-blur-text{
  font-size: 0.9em;
  color: #ccc;
}

#outline-content .note-editor.note-frame{
  border: 1px solid #697A10;
}

.outline-container > .input-group > .input-group-addon{
  color: #697A10;
  background-color: #fff;
  border: none;
}

.outline-container .close-outline{
  cursor: pointer;
}

.option-container{
  list-style: none;
}

.option-container .option{
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.option-container .option .option-name{
  cursor: pointer;
  padding: 10px;
  margin-bottom: 0;
}

.option-container .option .option-name:hover{
  background-color: #ccc;
  color: #fff;
}

.option-container .option .option-content{
  display: none;
  margin-top: 15px;
}

.option-name-clicked{
  background-color: #ccc;
  color: #fff;
}

.make-color{
    color: #697A10;
}

.details .outline .contents{
  margin-bottom: 30px;
}

.details .outline .contents .video-container{
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.details .outline .contents .video-container .video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-container{
  position: relative;
  /*max-height: 1000px;*/
  overflow: hidden;
}

.slide-container .slide{
  position: absolute;
  width: 100%;
  padding: 15px;
}

.slide-container .slide p{
  margin-bottom: 30px;
}

.slide-container h3,
.slide-container h4,
.slide-container h5{
  text-align: center;
}

.slide-container h4{
  margin-bottom: 40px;
}

.slide-container .slide-back, .slide-container .slide-next{
  color: #697A10;
  border: 1px solid #697A10;
  height: 28px;
}

.slide-container .slide-back span,
.slide-container .slide-next span{
  width: 14px;
  height: 14px;
}

.slide-container .slide-back,
.slide-container .slide-next{
  position: fixed;
  background-color: #fff;
  border-radius: 50%;
  z-index: 100;
  outline: none;
  margin: 15px;
}

.slide-container .slide-back{
  left: 0;
}

.slide-container .slide-next{
  right: 0;
}

.group-intro{
  text-align: center;
  overflow: auto;
}

.group-intro img{
  height: 200px;
  display: block;
  margin: 100px auto 40px auto;
}

.group-container{
  margin-top: 100px;
  margin-bottom: 50px;
}

.group-container .info{
  padding: 15px;
  margin-bottom: 45px;
}

.group-container .head, .group-container .foot{
  text-align: center;
}

.group-container .head, .group-container .content{
  margin-bottom: 30px;
}

.post-container{
  overflow: auto;
}

.post-container .post{
  padding: 0 15px;
  max-width: 500px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  border-left: 3px solid #697A10;
}

.post-container .post .head,
.post-container .post .content{
  border-bottom: 1px solid #C2DB99;
  margin-bottom: 15px;
  overflow: auto;
  text-align: left;
}

.post .content p:nth-child(2n + 1){
  padding-left: 0;
}

.post .content p:nth-child(2n){
  text-align: right;
  padding-right: 0;
}

.post-container .delete-post-container{
  padding: 0;
  text-align: right;
}

.post-container .delete-post-container .delete-post{
  background: none;
  border: none;
  outline: none;
  font-size: 1.3em;
}

.form-control{
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #C2DB99;
  border-radius: 0;
  padding: 6px 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #697A10;
}

.profile-container .form-group{
  margin-bottom: 30px;
}

.profile-container .profile{
  padding: 20px 0;
}

.profile-container span{
  color: #697A10;
  font-weight: normal;
  font-size: 0.9em;
}

.profile-container .profile input,
.profile-container .profile textarea,
.profile-container .profile select{
  padding-left: 0;
}

.profile-container .control-container{
  text-align: center;
  margin: 25px 0;
}

.profile-container .control-container button{
  margin: 0 5px;
  padding: 15px;
}

.profile-container .control-container button span{
  color: #000;
  font-size: 1em;
}

.profile-container .control-container button:hover{
  border: 1px solid #ccc;
  border-radius: 3px;
}

.profile-container table th{
  font-weight: normal;
}

.profile-container table tbody tr td{
  padding: 15px 8px;
}

.profile-container .sub-profile-container .delete-child{
  font-size: 0.8em;
}

.profile-container .main-profile-container .profile .form-group p{
  padding-top: 10px;
}

.table-responsive{
  border: none;
}

.slide-updown-container{
  position: relative;
}

.slide-updown-container .slide-updown{
  position: absolute;
  top: 0;
}

.slide-updown-transition{
  transition: top 1s;
}

.slide-updown-container .slide-updown .slide-item a{
  border: 1px solid #697A10;
  border-radius: 4px;
  padding: 8px;
  color: #697A10;
  display: inline-block;
  background-color: #fff;
}

.lesson-container{
  margin-top: 45px;
  text-align: left;
}

.lesson{
  padding: 15px 25px;
  margin-bottom: 35px;
  border: 1px solid #C2DB99;
}

.lesson .head{
  padding-bottom: 15px;
  border-bottom: 1px solid #C2DB99;
}

.lesson .head .topics{
  padding: 5px 0;
}

.lesson .head .likes{
  float: right;
}

.lesson .head .likes .like-btn{
  border: none;
  outline: none;
}

.lesson .head .likes .glyphicon{
  color: #FA8072;
}

.lesson .content{
  padding: 15px 15px 0 15px;
}

.lesson .outlines,
.lesson .references{
  list-style: none;
}

.lesson .outlines > li,
.lesson .references > li{
  margin-bottom: 15px;
  padding-left: 0;
}

.lesson .references{
  overflow: auto;
}

.lesson .control-container{
  text-align: right;
}

.lesson .topics > span {
    border-radius: 10px;
    border: 1px solid #697A10;
    color: #697A10;
    padding: 5px;
    margin: 0 3px;
}

.login-title{
  text-align: center;
  margin-bottom: 45px;
}

.filter-create-container{
  text-align: center;
  margin-top: 15px;
}
