.slide-container{
  position: relative;
  max-height: 1000px;
  overflow: hidden;
}

.slide{
  position: absolute;
  width: 100%;
}

.slide p{
  margin-bottom: 30px;
}

.slide-container .slide-back,
.slide-container .slide-next{
  position: fixed;
  background-color: #fff;
  border-radius: 50%;
  z-index: 100;
  outline: none;
  margin: 15px;
}

.slide-container .slide-back{
  left: 0;
}

.slide-container .slide-next{
  right: 0;
}
