.add-container{
  position: relative;
  text-align: center;
  clear: both;
}

.add-container .question-option button, .add-container #add-btn{
  background-color: #fff;
  border: none;
  outline: none;
}

.add-container .question-option button{
  position: absolute;
}

.add-container .question-option button{
  /*border: 5px solid green;
  width: 90px;
  height: 90px;*/
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 1s, height 0s 1s, width 0s 1s;
}

.add-container .question-option button:hover{
  background-color: green;
  color: white;
  transition: background-color 1s;
}

.add-container .question-option button:nth-child(1){
  transform: rotate(45deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.add-container .question-option button:nth-child(2){
  transform: rotate(-45deg);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.add-container .question-option button:nth-child(3){
  transform: rotate(45deg);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.add-container .question-option button:nth-child(4){
  transform: rotate(-45deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.question-container{
  margin-bottom: 25px;
}

.question-container .question{
  margin-bottom: 15px;
}

.question-container .question .content{
  padding: 10px 15px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.question-container .question .content{
  text-align: center;
}

.question-container .question .content .head span{
  float: right;
  cursor: pointer;
}

.question-container .question .content .title{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.question-container .question .content .title textarea{
  width: 100%;
  resize: vertical;
  border: none;
  text-align: center;
  outline: none;
}

.question-container .question .content .title p{
  margin: 0 auto 50px auto;
}

.question-container .question .content .suggestion-container{
  overflow: hidden;
  margin-bottom: 30px;
}

.question-container .question .content .suggestion-container .suggestion{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.question-container .question .content .suggestion-container .suggestion:focus{
  outline: none;
}

.question-container .question .content .foot{
  font-size: 0.8em;
}

.question-container .question .content .foot button{
  border: none;
  background-color: #fff;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
}

.question-container .question .content .suggestion-container button{
  border: none;
  background-color: #fff;
  color: #ccc;
  font-size: 0.6em;
}

.question-container .question .content button:focus{
  outline: none;
}

.question-container .question .content .foot button:hover{
  border: 1px solid #000;
  border-radius: 50%;
}

/*.question-container .question .bottom-convex-border div{
  height: 40px;
  margin: 0;
  padding: 0;
}

.question-container .question .bottom-convex-border > div .out{

  display: inline-block;
}

.question-container .question .bottom-convex-border > div .out > div{
  width: 20px;
}

.question-container .question .bottom-convex-border > div:first-child .out:first-child > div,
.question-container .question .bottom-convex-border > div:last-child .out:last-child > div:last-child{
  border: 1px solid #ccc;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.question-container .question .bottom-convex-border > div:first-child .out:last-child > div,
.question-container .question .bottom-convex-border > div:last-child .out:first-child > div:last-child{
  border: 1px solid #ccc;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.question-container .question .bottom-convex-border > div .out:first-child > div{
  float: right;
}

.question-container .question .bottom-convex-border > div .out:last-child > div{
  float: left;
}



.question-container .question .bottom-convex-border div:last-child .in{
  border-bottom: 1px solid #ccc;
}

.question-container .question .bottom-convex-border > div:last-child .out > .empty{
  border-bottom: 1px solid #ccc;
}*/

.question-container .question .edge .svg-container{
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 400px) {

  .question-container .question .edge .svg-container{
    width: 6%;
  }

  .question-container .question .content .title textarea,
  .question-container .question .content .title p{
    width: 60%;
  }
}

.content-border-top{
  border-top: 2px solid #000;
}

.edge-bottom-convex{
  border-top: 2px solid #000;
}

.svg-container-bottom-convex{
  margin: -2px;
}

.svg-container-top-concave{
  margin: -2px;
}

.edge-top-concave{
  border: 2px solid #000;
  border-bottom: none;
}

.edge-bottom-concave{
  border: 2px solid #000;
  border-top: none;
}

.svg-container-bottom-concave{
  margin-bottom: -2px;
  transform: rotate(180deg);
}

.edge-top-convex{
  border-bottom: 2px solid #000;
}

.svg-container-top-convex{
  margin-bottom: -3px;
  transform: rotate(180deg);
}

.question-container .question-matching .content .suggestion-container .signal{
  float: left;
}

.question-container .question-matching .content .suggestion-container .close-suggestion{
  float: right;
}

.question-container .question-matching .content .suggestion-container .suggestion{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  resize: vertical;
}

.question-container .question-matching .content .suggestion-container .suggestion.clickable,
.question-container .question-multichoice .content .suggestion-container .clickable,
.question-container .question-true-false .content .suggestion-container .clickable{
  cursor: pointer;
}

.clearfix{
  clear: both;
}

.question-container .question-matching .content .suggestion-container > div{
  overflow: hidden;
  margin-bottom: 10px;
}

.question-container .question-hidden-word .content .suggestion-container .shown .wrapper-letter{
  display: inline-block;
  width: 2em;
  height: 2.2em;
  font-size: 1.4em;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.question-container .question-hidden-word .content .suggestion-container .shown{
  margin-bottom: 60px;
}

.question-container .question-hidden-word .content .suggestion-container .shown .word{
  display: inline-block;
}

.question-container .question-hidden-word .content .suggestion-container .shown .word .wrapper-letter > span{
  display: block;
  margin-top: 0.4em;
}

.question-container .question-hidden-word .content .suggestion-container .shown .space{
  visibility: hidden;
}

.question-container .question-hidden-word .content .suggestion-container .suggestion{
  text-align: center;
  width: 80%;
}

.question-container .alert{
  display: none;
}

.chosen{
  border-radius: 50%;
  color: #fff;
  background-color: #76B041;
}

.question-container .question-multichoice .content .suggestion-container,
.question-container .question-true-false .content .suggestion-container{
  text-align: left;
}

.question-container .question-multichoice .content .suggestion-container .signal,
.question-container .question-true-false .content .suggestion-container .signal{
  text-align: center;
  padding: 3px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.panel-container{
  padding-bottom: 25px;
}

.panel-container-scroll{
  position: fixed;
  top: 0;
  background-color: #17BEBB;
  color: #fff;
  z-index: 100;
  padding: 5px 15px;
}

.panel-container .time{
  display: inline-block;
  font-size: 1.5em;
}

.panel-container .time img{
  width: 30px;
  vertical-align: text-bottom;
}

.panel-container .assign,
.panel-container .start{
  float: right;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding-top: 0.5em;
}

.panel-container .assign{
  display: none;
}

.cover-question-container{
  background-color: #2E282A;
}
