.lesson-road{
  text-align: center;
  clear: both;
}

.lesson-road > div{
  padding: 0;
  width: 100%;
}

.lesson-road .top{
  padding-bottom: 5px;
}

.lesson-road .top .viewed, .not-viewed{
  height: 40px;
}

.lesson-road .top .viewed{
  position: relative;
}

.lesson-road .top .viewed img{
  position: absolute;
  bottom: 0;
  height: 20px;
  margin-left: -5px;
}

.lesson-road .top .not-viewed p{
  margin: 0;
}

.lesson-road .top .not-viewed img{
  height: 20px;
}

.lesson-road .lesson-progress{
  height: 16px;
  padding-bottom: 5px;
}

.lesson-road .lesson-progress .one, .two, .three, .four{
  height: 8px;
}

.lesson-road .lesson-progress .one{
  border-bottom: 1px solid #000;
  border-right: 2px solid #000;
}

.lesson-road .lesson-progress .two{
  border-bottom: 1px solid #000;
  border-left: 2px solid #000;
}

.lesson-road .lesson-progress .three{
  border-top: 1px solid #000;
  border-right: 2px solid #000;
}

.lesson-road .lesson-progress .four{
  border-top: 1px solid #000;
  border-left: 2px solid #000;
}

.lesson-road .bottom .control-view{
  margin-bottom: 25px;
}

.lesson-road .bottom .flipper-container{
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.lesson-road .bottom .flipper-container:hover .control-container{
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.lesson-road .bottom .flipper-container:hover .content{
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.lesson-road .bottom .flipper{
  position: relative;
}

.lesson-road .bottom .flipper-container, .control-container, .content{
  width: 100%;
  height: 100px;
}

.lesson-road .bottom .flipper-container .control-container, .content{
  position: absolute;
  top: 0;
  left: 0;

  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;

  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.lesson-road .bottom .flipper-container .content{
  z-index: 2;
}

.lesson-road .bottom .flipper-container .control-container{
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.lesson-road .bottom .content{
  padding: 0 20px;
}

.lesson-road .bottom .content p{
  overflow: hidden;
  line-height: 1.2em;
  max-height: 3.6em;
  position: relative;
  margin-right: -1em;
  padding-right: 1em;
  text-align: justify;
  display: inline-block;
}

.lesson-road .bottom .content p:before{
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.lesson-road .bottom .content p:after{
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}


@media all and (min-width: 992px){
  .lesson-road > div{
    width: 25%;
    float: left;
  }

  .lesson-road > div:nth-child(8n+5){
    float: right;
  }

  .lesson-road > div:nth-child(8n+6){
    float: right;
  }

  .lesson-road > div:nth-child(8n+7){
    float: right;
  }

  .lesson-road > div:nth-child(8n+8){
    float: right;
  }

  .lesson-road > div:nth-child(8n+4) .lesson-progress .four{
    border-right: 2px solid #000;
  }

  .lesson-road > div:nth-child(8n+4) .bottom{
    border-right: 2px solid #000;
  }

  .lesson-road > div:nth-child(8n+5) .lesson-progress .two{
    border-right: 2px solid #000;
  }

  .lesson-road > div:nth-child(8n+5) .top{
    border-right: 2px solid #000;
  }

  .lesson-road > div:nth-child(8n+8) .lesson-progress .three{
    border-left: 2px solid #000;
  }

  .lesson-road > div:nth-child(8n+8) .bottom{
    border-left: 2px solid #000;
  }

  .lesson-road > div:not(:nth-child(1)):nth-child(8n+1) .top{
    border-left: 2px solid #000;
  }

  .lesson-road > div:not(:nth-child(1)):nth-child(8n+1) .lesson-progress .one{
    border-left: 2px solid #000;
  }
}

  @media all and (min-width: 768px) and (max-width: 991px){
    .lesson-road > div{
      width: 33.3333%;
      float: left;
    }

    .lesson-road > div:nth-child(6n+4){
      float: right;
    }

    .lesson-road > div:nth-child(6n+5){
      float: right;
    }

    .lesson-road > div:nth-child(6n+6){
      float: right;
    }

    .lesson-road > div:nth-child(6n+3) .bottom{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(6n+3) .lesson-progress .four{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(6n+4) .top{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(6n+4) .lesson-progress .two{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(6n+6) .bottom{
      border-left: 2px solid #000;
    }

    .lesson-road > div:nth-child(6n+6) .lesson-progress .three{
      border-left: 2px solid #000;
    }

    .lesson-road > div:not(:nth-child(1)):nth-child(6n+1) .top{
      border-left: 2px solid #000;
    }

    .lesson-road > div:not(:nth-child(1)):nth-child(6n+1) .lesson-progress .one{
      border-left: 2px solid #000;
    }
  }

  @media all and (min-width: 400px) and (max-width: 767px){
    .lesson-road > div{
      width: 50%;
      float: left;
    }

    .lesson-road > div:nth-child(4n+3){
      float: right;
    }

    .lesson-road > div:nth-child(4n+4){
      float: right;
    }

    .lesson-road > div:nth-child(4n+2) .bottom{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(4n+2) .lesson-progress .four{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(4n+3) .top{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(4n+3) .lesson-progress .two{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(4n+4) .bottom{
      border-left: 2px solid #000;
    }

    .lesson-road > div:nth-child(4n+4) .lesson-progress .three{
      border-left: 2px solid #000;
    }

    .lesson-road > div:not(:nth-child(1)):nth-child(4n+1) .top{
      border-left: 2px solid #000;
    }

    .lesson-road > div:not(:nth-child(1)):nth-child(4n+1) .lesson-progress .one{
      border-left: 2px solid #000;
    }
  }

  @media all and (max-width:399px) {
    .lesson-road > div:nth-child(2n+1) .bottom{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(2n+1) .lesson-progress .four{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(2n+2) .top{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(2n+2) .lesson-progress .two{
      border-right: 2px solid #000;
    }

    .lesson-road > div:nth-child(2n+2) .bottom{
      border-left: 2px solid #000;
    }

    .lesson-road > div:nth-child(2n+2) .lesson-progress .three{
      border-left: 2px solid #000;
    }

    .lesson-road > div:not(:nth-child(1)):nth-child(2n+1) .top{
      border-left: 2px solid #000;
    }

    .lesson-road > div:not(:nth-child(1)):nth-child(2n+1) .lesson-progress .one{
      border-left: 2px solid #000;
    }
  }
